In [1]:
import sys

In [2]:
sys.version

'3.6.8 (default, Dec 24 2018, 19:24:27) \n[GCC 5.4.0 20160609]'

In [4]:
a="10"

In [5]:
type(a)

str

In [11]:
l1=[1,2,3,4,5,6]

always put column after loop: function: condiction:

In [36]:
for i1 in l1:
    print(i1)

1
2
3
4
5
6

In [18]:
l1[1:5:2]

[2, 4]

#

In [33]:
type(l1)

list

In [39]:
l2={'name':'avanish','city':"delhi"}

{'name': 'avanish', 'city': 'delhi'}

In [38]:
l3=(1,2)
type(l3)

tuple

In [31]:
str1= "avanish"+'hi'

In [32]:
str1

'avanishhi'

In [41]:
def prinName(name):
    print(name)

In [42]:
def addNumber(a,b):
    return a+b

In [43]:
addNumber(10,20)

30

In [45]:
prinName("avanish")

avanish

In [77]:
def findFactorial(n):
    x=1;
    for i in range(1,n+1):
        x=x*i
    return x

In [78]:
findFactorial(3)

6

In [72]:
def findPrime(n):

1
2
3