In [33]:
import pandas as pd
import numpy as np

In [34]:
df=pd.read_csv('RCOM.csv',header=2,na_values=["21.15",'10.4'])
df.head(3)

         Date  Open       High    Low  Close  Adj Close     Volume
0  2018-05-17   NaN  17.750000  10.05  16.40      16.40  556849068
1  2018-05-18  18.0  21.299999  13.15  15.30      15.30  827714011
2  2018-05-21  14.9  16.299999  12.75  13.35      13.35  294901978

In [35]:
df.tail(2)

           Date  Open  High  Low  Close  Adj Close   Volume
242  2019-05-15   2.1   2.1  2.1    2.1        2.1  2196123
243  2019-05-16   2.0   2.0  2.0    2.0        2.0  2539454

In [36]:
df[df['Open'].max()==df['Open']]

          Date       Open   High        Low      Close  Adj Close     Volume
64  2018-08-16  20.450001  21.35  17.799999  18.549999  18.549999  205261691