In [10]:
import pandas as pd
import numpy as np

In [11]:
df =pd.read_csv('nifty.csv')
df.columns

Index(['<Ticker>', '<Date>', '<Open>', '<High>', '<Low>', '<Close>',
       '<Volume>', '<Open Interest> '],
      dtype='object')

In [9]:
df.head()

,<Ticker>,<Date>,<Open>,<High>,<Low>,<Close>,<Volume>,<Open Interest>
NIFTY-I,20090101,09:56,2980.0,2980.0,2988.0000,2978.0000,2987,0
NIFTY-I,20090101,09:57,2988.0,2988.0,2988.0000,2983.5000,2984,0
NIFTY-I,20090101,09:58,2982.7,2982.7,2983.0000,2978.8999,2979,0
NIFTY-I,20090101,09:59,2979.3,2979.3,2987.0000,2979.3000,2985,0
NIFTY-I,20090101,10:00,2985.0,2985.0,2989.6499,2985.0000,2986,0